<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="CISDatabaseEntities" connectionString="metadata=res://*/Models.CISDatabaseEntitites.csdl|res://*/Models.CISDatabaseEntitites.ssdl|res://*/Models.CISDatabaseEntitites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=g60hm1c4c6.database.windows.net;initial catalog=CISDataBase;persist security info=True;user id=ics_Brem7xuk;password=Ylum0zur;multipleactiveresultsets=True;connect timeout=25;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
